body {
    margin: 0;
    padding: 0;
    background-color: #e9ad9b;
    
   
   
   
 
}
li {
    list-style-type: none;
   
}
.sobremim a {
    color: #554338 ;
    margin-right: 30px;
}
.sobremim img {
    width: 20px;
    height: 20px;
}
.sobremim img:hover {
    width: 19px;
    height: 19px;
}

a{
    text-decoration: none;
    color: #6d574a;
    font-size: 19px;
    margin-right: 20px;
    bottom: 10px;
}
a:hover {
    font-size: 18px;
}
.cabeçalho {
    
    background-color: #e9ad9b;
    max-width:100% ;
    max-height:400px ;
    top: 0;
     
}
.sobremim {
    background-image: url('imagem2.png') ;
    width: 100%;
    height:85px;
    margin-top: 20px;
    object-fit: cover;
    text-align: center;
    display: flex;
   flex-direction: row;
   gap: 520px;
    
}
.sobremim:hover {
    max-width: 100%;
    max-height:60px;
}

.titulo {
    
    color: #6d574a;
    border-bottom: 1px solid wheat;
}
.separe1 {
    margin-left: 100px;
}
.separe2 {
    margin-left:400px;
}
.lencois {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    gap: 320px;
    margin-bottom: 20px;
    height: 100px;
}
.lençois img {
    width: 20px;
    height: 20px;
    
}
.lençóis img:hover {
    width: 19px;
    height: 19px;
}
.textoValores {
   background: linear-gradient(to top, #f1e5e0,  #e8b6a7);
   color: #554338;
    

}

.textotraimg {
    display: flex;
    align-items: center;
    gap: 5px;
   
}
.textoTra {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.textoTra p {
    margin-left: 5px;

}
.textotraimg img {
    max-width: 600px;
    max-height: 300px;
    border-radius: 8px;
    margin-left: 300px;
    
}
.textotraimg img:hover {
    max-width: 595px;
    max-height: 295px;
    border-radius: 8px;
    margin-left: 280px;
    
}
.lado {
    display: flex;
    align-items: center;
    gap: 5px;
}
.texto {
    display: flex;
    flex-direction: column;
    margin-left: 250px ;
    margin-bottom: 30px;
    
}
.lado img {
    max-width: 600px;
    max-height: 250px;
    border-radius: 8px;
    margin-left: 10px;

}
.lado img:hover {
    max-width: 500px;
    max-height: 230px;
    border-radius: 8px;
    margin-left: 10px;

}
.valores h3 {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    color: #554338 ;
}
.valores select {
    border: none;
    font-size: 15px;
    width: 300px;
    height: 50px;
    margin-bottom: 30px;
    margin-left: 40px;
    color: #34271f ;
    background-color:#e8b6a7 ;
    border-radius: 8px;
    font-weight: bold;
}
.valores select:hover {
    border: none;
    font-size: 15px;
    width: 280px;
    height: 40px;
    margin-bottom: 30px;
    margin-left: 40px;
    color: #34271f ;
    background-color: #e3bcb4;
    border-radius: 8px;
    font-weight: bold;
}
.rodapé {
    width: 100%;
    height: 100px;
    background-color:#e9ad9b ;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    gap: 520px;
    border-top: 3px solid white;
}
.rodapé a {
    margin-top: 20px;
    margin-left: 10px;
}
.rodapé img, a {
    display: flex;
    flex-direction: row;
    width: 20px;
    height: 20px;
    margin-right: 4px;
}



/* 📱📱📱 RESPONSIVIDADE PARA CELULAR */
@media (max-width: 700px) {


    /* Header */
    body {
    margin: 0;
    padding: 0;
    margin-top: -20px;
    }
    .sobremim {
        flex-direction: row;
        gap: 30px;
        font-size: 15px;
        
        
    }

    a {
        display: flex;
        flex-direction: row;
        font-size: 6px;
        margin: 0;
        
        margin-left: -1px;
        bottom: 0;
       
       
    }
    a:hover {
        font-size: 5px;
    }
    .lençóis {
        margin-left: -4px;
    
    }
    .resumoOrçamento {
        text-align: right;
    }

    /* Títulos */
    .separe1, .separe2 {
        text-align: center;
        margin-left: 0;
        font-size: 22px;
    }

    /* Imagens */
    .textotraimg,
    .lado {
        flex-direction: row;
        text-align: center;
        font-size: 10px;
    }
    .textotraimg:hover,
    .lado:hover {
        flex-direction: row;
        text-align: center;
        font-size: 8px;
        transition: all 0.3s ease;
    }
    

    .textotraimg img,
    .lado img {
        display: flex;
        flex-direction: row;
        width: 150px;
        height: 200px;
        margin: 0;
        margin-right: 0;
        margin-left: 0;
        
    }
    .textotraimg img:hover,
    .lado img:hover {
        display: flex;
        flex-direction: row;
        width: 145px;
        height: 195px;
        margin: 0;
        margin-right: 0;
        margin-left: 0;
        transition: all 0.3s ease;
        
    }
   
    
    .lado h2, p {
        display: flex;
        flex-direction: row;
        text-align: right;
        margin-left:-400px;
        
        
    }
    .lado p{
        margin-right: 50px;
        
    }
    .lado img {
        height: 200px;
    }
    

  
  

    /* Menu de produtos */
    .lençóis {
        flex-direction: row;
        gap: 10px;
    }

    /* Select */
    .valores select {
        width: 90%;
        margin-left: 5%;
    }

    /* Rodapé */
    .rodapé {
        flex-direction: row;
        text-align: center;
        gap: 90px;
    }
}



